/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+clike+bash+markup-templating+php+php-extras+yaml */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	/* color: #ccc; */
	color: #d8dee9;
	background: none;
  font-family: 'Adobe-Source-Code-Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1b2b34;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  /* grey */
	/* color: #999; */
  font-style: italic;
	color: #65737e;
}

.token.punctuation {
	/* color: #ccc; */
	color: #d8dee9;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.string,
.token.deleted {
  /* red */
	/* color: #e2777a; */
	/* green */
	color: #99c794;
}

.token.function-name {
  /* blue */
	/* color: #6196cc; */
	color: #6699cc;
}

.token.boolean,
.token.number {
/* .token.function { */
  /* orange */
	/* color: #f08d49; */
	color: #f99157;
}

/* .token.property, */
/* .token.class-name, */
.token.constant,
.token.symbol {
  /* yellow */
	/* color: #f8c555; */
	color: #fac863;
}

.token.selector,
.token.important,
.token.keyword,
.token.builtin {
  /* pink */
	/* color: #cc99cd; */
	color: #c594c5;
}

.token.atrule,
.token.char,
.token.attr-value,
.token.regex,
.token.this,
.token.variable {
	/* green */
	/* color: #7ec699; */
  /* red */
	color: #ec5f67;
  font-weight: bold;
}

.token.operator,
.token.entity,
.token.url {
  /* cyan */
	/* color: #67cdcc; */
	color: #62b3b2;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	/* color: green; */
	color: #99c794;
}
