@font-face {
  font-family: 'Adobe-Source-Code-Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Adobe-Source-Code-Pro'),
    local('Adobe-Source-Code-Pro'),
    url('../fonts/SourceCodePro-Regular.ttf.woff2') format('woff2'),
    url('../fonts/SourceCodePro-Regular.ttf.woff') format('woff');
}

.title-image {
  display: inline-block;
  width: auto;
}

code[class*="language-"], pre[class*="language-"], pre {
  font-family: 'Adobe-Source-Code-Pro';
}

svg.api-platform path {
  fill: #2895a0;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

ul li {
  line-height: 1.3em;
}

.fry-pizza {
  background-image: url('../images/fry-pizza.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.workflow {
  background-image: url('../images/workflow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.swagger {
  background-image: url('../images/swagger_1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.coop {
  background-image: url('../images/coop-tilleuls.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.coop .slide {
  margin: 0 auto;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
}

.coop .slide a {
  color: #fff;
}

.pre, pre {
  display: block;
  padding: 1.4em;
  margin: 1em 0;
}

table pre { padding: 0; margin: 0; }
table em { padding-right: 15px; }

.full-code {
  background-color: #1b2b34;
}

.full-code .slide-container, .full-table .slide-container {
  width: auto !important;
}

.full-code .slide, .full-table .slide {
  padding: 0;
}

.full-code pre {
  padding: 0;
}

.inline {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.full-table table {
  border-collapse: collapse;
}

.full-table td, .full-table th {
  border: 1px solid var(--fg-color);
  padding: 20px;
}

.full-table th { text-align:left }

.file {
  position: absolute;
  color: #d8dee9;
  display: block;
  left: 10px;
  top: 10px;
  font-size: 17px;
}

.grey {
  color: #ccc;
}

.emphasis td {
  border: 2px solid #000;
}
